<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/stylesheets/stars.css">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%=movie.title%>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Submitted by: <%=movie.author.username %>
          </li>
          <li class="list-group-item">Movie IMDB rating: <%=movie.rating %>
          </li>
          <li class="list-group-item">Movie release date: <%=movie.release %>
          </li>
        </ul>
        <% if(currentUser && movie.author.equals(currentUser._id)) {%>
          <div class="card-body">
            <a href="/movies/<%= movie._id%>/edit" class="card-link btn btn-info">Edit</a>
            <form class="d-inline card-link" action="/movies/<%=movie._id  %>?_method=DELETE " method=POST>
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
          <% } %>
      </div>
    </div>
    <div class="col-6">
      <% if(currentUser) { %>
        <h2>Leave a Review</h2>
        <form action="/movies/<%=movie._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
          <div class="mb-3">
            <div class="mb-3">
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
              <input type="radio" id="second-rate1" name="rating" value="1" />
              <label for="second-rate1" title="Terrible">1 star</label>
              <input type="radio" id="second-rate2" name="rating" value="2" />
              <label for="second-rate2" title="Not good">2 stars</label>
              <input type="radio" id="second-rate3" name="rating" value="3" />
              <label for="second-rate3" title="Average">3 stars</label>
              <input type="radio" id="second-rate4" name="rating" value="4" />
              <label for="second-rate4" title="Very good">4 stars</label>
              <input type="radio" id="second-rate5" name="rating" value="5" />
              <label for="second-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
            <label class="form-label" for="body">Review text</label>
            <textarea class="form-control" name="body" id="body" cols="30" rows="3" required></textarea>
          </div>
          <button class="btn btn-success">Submit</button>
        </form>
        <% } %>

          <% for(let review of movie.reviews) { %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Rating: <%=review.rating%>
                </h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                  Rated: <%=review.rating  %>  stars
                </p>
                <h6 class="Card-subtitle mb-2 text-muted">By <%=review.author.username %>
                </h6>
                <p class="card-text">Review: <%=review.body%>
                </p>
                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                  <form action="/movies/<%=movie._id%>/reviews/<%=review._id%>?_method=DELETE" method=POST>
                    <button class="btn btn-sm btn-danger">Delete</button>
                    <% } %>
                  </form>
              </div>
            </div>
            <% } %>
    </div>
  </div>
  </div>