<% layout('layouts/boilerplate')%> 
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%=movie.title%> </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Submitted by: <%=movie.author.username %> </li>
              <li class="list-group-item">Movie IMDB rating: <%=movie.rating  %> </li>
              <li class="list-group-item">Movie release date: <%=movie.release  %> </li>
            </ul>
            <% if(currentUser && movie.author.equals(currentUser._id)) {%> 
            <div class="card-body">
                <a href="/movies/<%= movie._id%>/edit" class="card-link btn btn-info">Edit</a>
            <form class="d-inline card-link" action="/movies/<%=movie._id  %>?_method=DELETE " method=POST>
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
            <% } %> 
          </div>
    </div>
    <div class="col-6">
      <h2>Leave a Review</h2>
      <form action="/movies/<%=movie._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
        <div class="mb-3">
          <div class="mb-3">
            <label class="form-label" for="rating">Rating</label>
            <input class="form-range" type="range" min="1" max="5" name="rating" id="rating">
          </div>
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="body" id="body" cols="30" rows="3" required></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>

      <% for(let review of movie.reviews) { %> 
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Rating: <%=review.rating%> </h5>
            <p class="card-text">Review: <%=review.body%></p>
            <form action="/movies/<%=movie._id%>/reviews/<%=review._id%>?_method=DELETE" method=POST>
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </div>
        </div>
        <% } %> 
</div>
    </div>
</div>

